.countdown {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.logo {
  width: 100%;
  text-align: center;
}

.logo img {
  height: 3rem;
  margin-bottom: 6rem;
}