.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group:not(:last-child) {
  margin-bottom: 2rem;
}
input {
  appearance: none;
  border: 3px solid #fff;
  border-radius: 1rem;
  height: 6rem;
  font-size: 4rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  align-self: flex-start;
  text-align: center;
  transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: transparent;
}
input:focus {
  outline: none;
  box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.1);
}
::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
:-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
.input-title {
  width: 38rem;
}
.input-time {
  width: 10rem;
}
label {
  font-size: 4rem;
  margin-right: 2rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.colon {
  font-size: 4rem;
  margin: 0 1rem;
}
.btn {
  cursor: pointer;
  border: none;
  background-color: #fff;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: 2rem;
  color: #192057;
  box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.1);
  transition: all .15s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.btn:hover,
.btn:focus {
  transform: scale(1.05);
}