.reset-countdown {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.reset-countdown .btn {
  border-radius: 0.5rem;
  height: 3rem;
  font-size: 2rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;
}