* {
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
@media (max-width: 790px) {
  html {
    font-size: 10px;
  }
}
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}