* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 15px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}